<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>testModule</string>
		<key>scheme</key>
		<string>snow</string>
		<key>delegateClass</key>
		<string>SNTestModuleAppDelegate</string>
		<key>routerList</key>
		<array>
			<dict>
				<key>name</key>
				<string>vcone</string>
				<key>className</key>
				<string>SNTestViewController1</string>
				<key>routeType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>vctwo</string>
				<key>className</key>
				<string>SNTestViewController2</string>
				<key>routeType</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>name</key>
				<string>vcthree</string>
				<key>className</key>
				<string>SNTestViewController3</string>
				<key>routeType</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>serviceList</key>
		<array>
			<dict>
				<key>name</key>
				<string>sayHello</string>
				<key>protocol</key>
				<string>SNTestProtocol</string>
				<key>className</key>
				<string>SNImplementationClass</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
